# Azure Credentials (opcional si usas az login)
# ARM_SUBSCRIPTION_ID="your-subscription-id"
# ARM_TENANT_ID="your-tenant-id"
# ARM_CLIENT_ID="your-client-id"
# ARM_CLIENT_SECRET="your-client-secret"

# Ansible
ANSIBLE_HOST_KEY_CHECKING=false
ANSIBLE_RETRY_FILES_ENABLED=false

# Terraform
TF_LOG=ERROR
